@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shop Reminder</h1>
    <p>Page created with building Web apps with ASP.NET Core.</p>
    <imp src="OIP.jpg" class="img-fluid"/>
    <img src="@Url.Content("~/uploads/" + "fileName")" width="200" height="200" alt="" class="card-img" />

</div>
